@page "/Add/{Lid:int}"
@inject ILeadServices leadService
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
<h1>@pagetitle</h1>

<SfDialog IsModal="true" Width="500px" ShowCloseIcon="false" Visible="true">

    <h5>@pagetitle</h5>
    <EditForm Model="@leadClass" OnValidSubmit="@CountriesSave">
        <input type="hidden" @bind-value="leadClass.Lid">
        <label for="exampleInputEmail1">Name :</label>
        <input type="text" class="form-control" @bind-value="leadClass.Lname" required>
        <label for="exampleInputEmail1">Project_Name :</label>
        <input type="text" class="form-control" @bind-value="leadClass.LProject_Name" required>
        <label for="exampleInputEmail1">Status :</label>
        <input type="text" class="form-control" @bind-value="leadClass.LStatus" required>
        <label for="exampleInputEmail1">Added :</label>
        <input type="text" class="form-control" @bind-value="leadClass.LAdded" required>
        <label for="exampleInputEmail1">Type:</label>
        <input type="text" class="form-control" @bind-value="leadClass.LType" required>
        <label for="exampleInputEmail1">Contact:</label>
        <input type="text" class="form-control" @bind-value="leadClass.LContact">
        <label for="exampleInputEmail1">Action:</label>
        <input type="text" class="form-control" @bind-value="leadClass.LAction" required>
        <label for="exampleInputEmail1">Assignee:</label>
        <input type="text" class="form-control" @bind-value="leadClass.LAssignee" required>
        <label for="exampleInputEmail1">Bid_Date:</label>
        <input type="text" class="form-control" @bind-value="leadClass.LBid_Date" required>
        <br /><br />
        <div class="e-footer-content">
            <div class="button-container">

                <button type="submit" class="btn btn-primary">@SaveButton</button>
                <button type="button" class="btn btn-outline-danger" @onclick="@Cancel">Cancel</button>
            </div>
        </div>
    </EditForm>

</SfDialog>

@code {
    // Create a new, empty Countries object
    Lead leadClass = new Lead();
    private string SaveButton;
    public string pagetitle = "Add a person";
    private bool enable;
    [Parameter]
    public int Lid { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (Lid == 0)
        {
            enable = true;
            pagetitle = "Add a person";
            SaveButton = "Add";
        }
        else
        {
            enable = false;
            SaveButton = "Update";
            pagetitle = $"Edit Id:{Lid} details";
            leadClass = await leadService.GetbyId(Lid);
        }

    }
    // Executes OnValidSubmit of EditForm above.
    protected async Task CountriesSave()
    {
        if (Lid == 0)
        {
            await leadService.Add(leadClass);
        }
        else
        {
            leadService.Update(leadClass);
            await leadService.Save();
        }

        NavigationManager.NavigateTo("LeadsPage");
    }

    //Executes if user clicks the Cancel button.
    void Cancel()
    {
        NavigationManager.NavigateTo("LeadsPage");
    }

}